Repository pagopa/io-fims, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, user, relying-party, relying-party-example, openid-provider, external-interface-changes, documentation

update terraform files
  infra/bootstrapper/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/tfmodules.lock.json
Labels: infra

Merge branch 'main' into chores/change-apps-and-funcs-kv
  infra/resources/_modules/key_vaults_itn/outputs.tf
  infra/resources/prod/web_apps.tf
Labels: infra

Add @pagopa/azure-storage-migration-kit for storage audit migration
  apps/op-func/local.settings.json.example
  apps/op-func/package.json
  apps/op-func/src/adapters/config.ts
  apps/op-func/src/adapters/env.ts
  apps/op-func/src/func.ts
  apps/op-func/src/infra/storage/audit-event.ts
  apps/op-func/src/infra/storage/config.ts
  infra/resources/_modules/storage_itn/audit.tf
  infra/resources/_modules/storage_itn/outputs.tf
  infra/resources/_modules/web_apps_itn/data.tf
  infra/resources/_modules/web_apps_itn/op_func.tf
  infra/resources/_modules/web_apps_itn/variables.tf
  infra/resources/prod/web_apps.tf
  package.json
  yarn.lock
Labels: infra, openid-provider

Update tfmodules.lock Remove unused import
  apps/op-func/src/infra/storage/audit-event.ts
  infra/resources/prod/tfmodules.lock.json
Labels: infra, openid-provider

Remove underscore from storage name
  infra/resources/_modules/storage_itn/audit.tf
Labels: infra

Add audit_itn storage account
  infra/resources/_modules/storage_itn/audit.tf
  infra/resources/_modules/storage_itn/outputs.tf
Labels: infra

Update tfmodules.lock
  infra/resources/prod/tfmodules.lock.json
Labels: infra

Update web_apps with fims its
  infra/resources/prod/web_apps.tf
Labels: infra

Change op app redis
  infra/bootstrapper/prod/.terraform.lock.hcl
  infra/bootstrapper/prod/tfmodules.lock.json
  infra/resources/_modules/web_apps_itn/op_app.tf
  infra/resources/_modules/web_apps_itn/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/web_apps.tf
Labels: infra

change rp_example kv
  infra/resources/prod/web_apps.tf
Labels: infra

Change apps and funcions keyvault
  infra/resources/_modules/key_vaults_itn/outputs.tf
  infra/resources/prod/web_apps.tf
Labels: infra

Update tfmodules.lock
  infra/resources/prod/tfmodules.lock.json
Labels: infra

Fix audit st name
  infra/resources/_modules/storage_itn/audit.tf
Labels: infra

Add audit_itn storage account
  infra/resources/_modules/storage_itn/audit.tf
  infra/resources/_modules/storage_itn/outputs.tf
Labels: infra

Create Audits storage account in ITN
  infra/resources/_modules/storage_itn/audit.tf
  infra/resources/_modules/storage_itn/outputs.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

Fix lint
  apps/op-func/src/adapters/config.ts
  apps/op-func/src/adapters/env.ts
  apps/op-func/src/func.ts
  apps/op-func/src/infra/storage/audit-event.ts
  apps/op-func/src/infra/storage/config.ts
Labels: openid-provider

delete io-p-fims-kv
  infra/resources/_modules/key_vaults/data.tf
  infra/resources/_modules/key_vaults/key_vault_fims.tf
  infra/resources/_modules/key_vaults/locals.tf
  infra/resources/_modules/key_vaults/main.tf
  infra/resources/_modules/key_vaults/outputs.tf
  infra/resources/_modules/key_vaults/rbac_ad.tf
  infra/resources/_modules/key_vaults/rbac_managed_identities.tf
  infra/resources/_modules/key_vaults/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/key_vaults.tf
Labels: infra

delete io-p-weu-fims-redis-01
  infra/resources/_modules/redis_cache/data.tf
  infra/resources/_modules/redis_cache/locals.tf
  infra/resources/_modules/redis_cache/main.tf
  infra/resources/_modules/redis_cache/networking.tf
  infra/resources/_modules/redis_cache/outputs.tf
  infra/resources/_modules/redis_cache/redis_cache_fims.tf
  infra/resources/_modules/redis_cache/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/redis_cache.tf
Labels: infra

Remove unused PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore(workflow): update code-review workflow to the latest version
  .github/workflows/code-review.yaml
Labels: none

chore: add permissions block
  .github/workflows/code-review.yaml
Labels: none

Update code-review workflow
  .github/workflows/code-review.yaml
Labels: none

.github/labeler.yml:

infra:
  - changed-files:
      - any-glob-to-any-file: ["infra/**"]

user:
  - changed-files:
      - any-glob-to-any-file: ["apps/user-func/**"]

relying-party:
  - changed-files:
      - any-glob-to-any-file: ["apps/rp-func/**"]

relying-party-example:
  - changed-files:
      - any-glob-to-any-file: ["apps/rp-example-app/**"]

openid-provider:
  - changed-files:
      - any-glob-to-any-file: ["apps/op-func/**", "apps/openid-provider-app/**"]

external-interface-changes:
  - changed-files:
      - any-glob-to-any-file: ["apps/**/openapi.yaml", "apps/**/asyncapi.yaml"]

documentation:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "README.md"]
