Repository pagopa/io-fims, pull requests merged in 2024-07, with the labels that each got.

#61 Add deploy pipelines
  .github/workflows/op-app-deploy.yaml
  .github/workflows/op-func-deploy.yaml
  .yarnrc.yml
  apps/op-app/package.json
  apps/op-app/tsup.config.js
  apps/op-func/host.json
  infra/identity/_modules/managed_identities/identity-fims_github_cd_identity.tf
  infra/identity/_modules/managed_identities/identity-fims_github_ci_identity.tf
  infra/identity/_modules/managed_identities/locals.tf
  infra/identity/_modules/managed_identities/main.tf
  infra/identity/_modules/managed_identities/outputs.tf
  infra/identity/_modules/managed_identities/variables.tf
  infra/identity/prod/README.md
  infra/identity/prod/federated_identities.tf
  infra/identity/prod/federated_identities_app.tf
  infra/identity/prod/locals.tf
  infra/identity/prod/managed_identities.tf
  infra/identity/prod/outputs.tf
  infra/repository/README.md
  infra/repository/data.tf
  infra/repository/github_environment_app_cd.tf
  infra/repository/locals.tf
  infra/repository/outputs.tf
  infra/resources/_modules/key_vaults/certificates_lollipop.tf
  infra/resources/_modules/web_apps/linux_function_app_op.tf
  infra/resources/_modules/web_apps/linux_web_app_op.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/data.tf
  infra/resources/prod/web_apps.tf
  yarn.lock
Labels: infra, openid-provider

#51 feat: add new model AccessLogRecord
  apps/op-func/local.settings.json.example
  apps/op-func/package.json
  apps/op-func/src/infra/storage/access-log-register.ts
  apps/op-func/src/infra/storage/blob-error.ts
  apps/op-func/src/infra/storage/tests/access-log-register.test.ts
  apps/openid-rp-example-app/src/application.ts
  apps/openid-rp-example-app/src/types/index.d.ts
  packages/io-fims-common/schemas/oidc-client-config.json
  packages/io-fims-common/src/domain/audit-event.ts
  packages/io-fims-common/src/domain/user-metadata.ts
  yarn.lock
Labels: openid-provider, relying-party-example

#67 feat: add lollipop scope
  apps/op-app/.env.example
  apps/op-app/package.json
  apps/op-app/src/adapters/config.ts
  apps/op-app/src/adapters/env.ts
  apps/op-app/src/adapters/express/error.ts
  apps/op-app/src/adapters/express/routes/interaction.ts
  apps/op-app/src/adapters/io/config.ts
  apps/op-app/src/adapters/io/generated/lollipop/AssertionRef.ts
  apps/op-app/src/adapters/io/generated/lollipop/AssertionRefSha256.ts
  apps/op-app/src/adapters/io/generated/lollipop/AssertionRefSha384.ts
  apps/op-app/src/adapters/io/generated/lollipop/AssertionRefSha512.ts
  apps/op-app/src/adapters/io/generated/lollipop/AssertionType.ts
  apps/op-app/src/adapters/io/generated/lollipop/LCUserInfo.ts
  apps/op-app/src/adapters/io/generated/lollipop/LollipopAuthBearer.ts
  apps/op-app/src/adapters/io/generated/lollipop/OidcSignedJwt.ts
  apps/op-app/src/adapters/io/generated/lollipop/OidcUserInfo.ts
  apps/op-app/src/adapters/io/generated/lollipop/ProblemJson.ts
  apps/op-app/src/adapters/io/generated/lollipop/SamlUserInfo.ts
  apps/op-app/src/adapters/io/generated/lollipop/client.ts
  apps/op-app/src/adapters/io/generated/lollipop/requestTypes.ts
  apps/op-app/src/adapters/io/generated/session-manager/AssertionRef.ts
  apps/op-app/src/adapters/io/generated/session-manager/AssertionRefSha256.ts
  apps/op-app/src/adapters/io/generated/session-manager/AssertionRefSha384.ts
  apps/op-app/src/adapters/io/generated/session-manager/AssertionRefSha512.ts
  apps/op-app/src/adapters/io/generated/session-manager/FIMSPlusUser.ts
  apps/op-app/src/adapters/io/generated/session-manager/FIMSUser.ts
  apps/op-app/src/adapters/io/generated/session-manager/FederatedUser.ts
  apps/op-app/src/adapters/io/generated/session-manager/FiscalCode.ts
  apps/op-app/src/adapters/io/generated/session-manager/GetLollipopUserForFIMSPayload.ts
  apps/op-app/src/adapters/io/generated/session-manager/JwkPubKeyToken.ts
  apps/op-app/src/adapters/io/generated/session-manager/LCParamsForFims.ts
  apps/op-app/src/adapters/io/generated/session-manager/LimitedFederatedUser.ts
  apps/op-app/src/adapters/io/generated/session-manager/ProblemJson.ts
  apps/op-app/src/adapters/io/generated/session-manager/SpidLevel.ts
  apps/op-app/src/adapters/io/generated/session-manager/client.ts
  apps/op-app/src/adapters/io/generated/session-manager/requestTypes.ts
  apps/op-app/src/adapters/io/tests/user.spec.ts
  apps/op-app/src/adapters/io/user-metadata.ts
  apps/op-app/src/adapters/tests/express.spec.ts
  apps/op-app/src/domain/user-metadata.ts
  apps/op-app/src/use-cases/login.ts
  apps/op-app/src/web.ts
  infra/resources/_modules/web_apps/linux_web_app_op.tf
Labels: infra

#52 feat: new storage for events register
  infra/resources/_modules/storage/outputs.tf
  infra/resources/_modules/storage/storage_account_event.tf
  infra/resources/_modules/web_apps/variables.tf
  infra/resources/prod/web_apps.tf
Labels: infra
