Repository pagopa/io-fims, pull requests merged in 2024-04, with the labels that each got.

#18 [IOCOM-1209] Setup relying party func
  .funcignore
  .vscode/extensions.json
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  apps/relying-party-func/.funcignore
  apps/relying-party-func/.gitignore
  apps/relying-party-func/host.json
  apps/relying-party-func/package.json
  apps/relying-party-func/src/functions/health-check.ts
  apps/relying-party-func/tsconfig.json
  infra/prod/_modules/functions/data.tf
  infra/prod/_modules/functions/function_relying_party.tf
  infra/prod/_modules/functions/local.tf
  infra/prod/_modules/functions/main.tf
  infra/prod/_modules/functions/private_endpoint_relying_party.tf
  infra/prod/_modules/functions/variables.tf
  infra/prod/westeurope/.terraform.lock.hcl
  infra/prod/westeurope/README.md
  infra/prod/westeurope/functions.tf
  yarn.lock
Labels: infra

#23 [IOCOM-1210] Add "Create OIDC Client Config" Endpoint
  .bundleignore
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vim/coc-settings.json
  .vscode/extensions.json
  .yarn/plugins/@yarn.build/plugin-bundle.cjs
  .yarnrc.yml
  apps/openid-provider-app/package.json
  apps/relying-party-func/host.json
  apps/relying-party-func/local.settings.json.example
  apps/relying-party-func/openapi.yaml
  apps/relying-party-func/package.json
  apps/relying-party-func/schemas/oidc-client-config.schema.json
  apps/relying-party-func/src/functions/health-check.ts
  apps/relying-party-func/src/infra/config.ts
  apps/relying-party-func/src/infra/cosmosdb/oidc-client-config.ts
  apps/relying-party-func/src/infra/handlers/create-oidc-client-config.ts
  apps/relying-party-func/src/infra/handlers/health-check.ts
  apps/relying-party-func/src/infra/handlers/tests/create-oidc-client-config.test.ts
  apps/relying-party-func/src/infra/main.ts
  apps/relying-party-func/src/infra/openapi.ts
  apps/relying-party-func/src/oidc-client-config.ts
  apps/relying-party-func/tsconfig.json
  apps/relying-party-func/tsup.config.js
  apps/relying-party-func/vitest.config.js
  bruno/bruno.json
  bruno/environments/Local.bru
  bruno/relying-party-func/Create OIDC Client Config.bru
  infra/prod/_modules/cosmos/cosmos_container_oidc_client_configs.tf
  infra/prod/_modules/cosmos/cosmos_database_relying_party.tf
  infra/prod/_modules/cosmos/outputs.tf
  infra/prod/_modules/functions/function_relying_party.tf
  infra/prod/westeurope/.terraform.lock.hcl
  infra/prod/westeurope/functions.tf
  package.json
  packages/io-fims-common/package.json
  packages/io-fims-common/schemas/oidc-client-config.json
  packages/io-fims-common/src/oidc-client-config.ts
  packages/io-fims-common/src/parse.ts
  packages/io-fims-common/src/response.ts
  packages/io-fims-common/tsconfig.json
  yarn.lock
Labels: infra

#25 Rename "relying-party-func" workspace to "rp-func"
  apps/rp-func/.funcignore
  apps/rp-func/.gitignore
  apps/rp-func/asyncapi.yaml
  apps/rp-func/host.json
  apps/rp-func/local.settings.json.example
  apps/rp-func/openapi.yaml
  apps/rp-func/package.json
  apps/rp-func/src/infra/config.ts
  apps/rp-func/src/infra/cosmosdb/oidc-client-config.ts
  apps/rp-func/src/infra/handlers/create-oidc-client-config.ts
  apps/rp-func/src/infra/handlers/health-check.ts
  apps/rp-func/src/infra/handlers/tests/create-oidc-client-config.test.ts
  apps/rp-func/src/infra/main.ts
  apps/rp-func/src/infra/openapi.ts
  apps/rp-func/src/oidc-client-config.ts
  apps/rp-func/tsconfig.json
  apps/rp-func/tsup.config.js
  apps/rp-func/vitest.config.js
  infra/prod/_modules/cosmos/cosmos_database_relying_party.tf
  infra/prod/_modules/functions/function_rp.tf
  infra/prod/_modules/functions/private_endpoint_relying_party.tf
  infra/prod/_modules/functions/variables.tf
  infra/prod/westeurope/functions.tf
  yarn.lock
Labels: infra

#28 fix(infra): Unable to locate Storage Account "iopfimsst"
  infra/prod/_modules/storage/main.tf
  infra/prod/_modules/storage/storage_account_fims.tf
  infra/prod/_modules/storage/storage_queue_config.tf
  infra/prod/_modules/storage/variables.tf
  infra/prod/_modules/storage_queue/variables.tf
  infra/prod/westeurope/README.md
  infra/prod/westeurope/storage.tf
  infra/prod/westeurope/storage_queue.tf
Labels: infra

#29 fix(infra): configure private endpoint for storage queue
  infra/prod/_modules/networking/data.tf
  infra/prod/_modules/networking/outputs.tf
  infra/prod/_modules/storage/storage_account_fims.tf
  infra/prod/_modules/storage/variables.tf
  infra/prod/westeurope/storage.tf
Labels: bug, infra

#32 fix(infra): "openid-provider-app" and "op-func" now shares the same app service plan
  infra/resources/prod/_modules/app_services/variables.tf
  infra/resources/prod/_modules/functions/data.tf
  infra/resources/prod/_modules/functions/local.tf
  infra/resources/prod/_modules/functions/main.tf
  infra/resources/prod/_modules/functions/variables.tf
  infra/resources/prod/_modules/web_apps/app_service_openid_provider.tf
  infra/resources/prod/_modules/web_apps/app_service_openid_rp_example.tf
  infra/resources/prod/_modules/web_apps/data.tf
  infra/resources/prod/_modules/web_apps/function_op.tf
  infra/resources/prod/_modules/web_apps/function_rp.tf
  infra/resources/prod/_modules/web_apps/locals.tf
  infra/resources/prod/_modules/web_apps/main.tf
  infra/resources/prod/_modules/web_apps/outputs.tf
  infra/resources/prod/_modules/web_apps/private_endpoint_openid_provider.tf
  infra/resources/prod/_modules/web_apps/private_endpoint_openid_rp_example.tf
  infra/resources/prod/_modules/web_apps/private_endpoint_relying_party.tf
  infra/resources/prod/_modules/web_apps/variables.tf
  infra/resources/prod/westeurope/README.md
  infra/resources/prod/westeurope/apim.tf
  infra/resources/prod/westeurope/app_services.tf
  infra/resources/prod/westeurope/outputs.tf
  infra/resources/prod/westeurope/web_apps.tf
Labels: infra

#34 [EC-270] Add GitHub self-hosted runner
  .github/workflows/pr_github_runner.yaml
  .github/workflows/release_github_runner.yaml
  infra/github-runner/prod/westeurope/.terraform.lock.hcl
  infra/github-runner/prod/westeurope/README.md
  infra/github-runner/prod/westeurope/container_app_job.tf
  infra/github-runner/prod/westeurope/locals.tf
  infra/github-runner/prod/westeurope/main.tf
  infra/github-runner/prod/westeurope/outputs.tf
Labels: infra

#38 docs: update "oidc flow" sequence diagram
  docs/diagrams/oidc-flow.plantuml
  docs/diagrams/oidc-flow.png
Labels: documentation

#37 chore(repo): add repository setting
  infra/repository/README.md
  infra/repository/github_repository.tf
Labels: infra

#26 feat(user-func): init workspace and infrastructure
  apps/user-func/host.json
  apps/user-func/local.settings.json.example
  apps/user-func/package.json
  apps/user-func/src/infra/handlers/health-check.ts
  apps/user-func/src/infra/main.ts
  apps/user-func/tsconfig.json
  apps/user-func/tsup.config.js
  apps/user-func/vitest.config.js
  infra/resources/prod/_modules/web_apps/function_user.tf
  infra/resources/prod/_modules/web_apps/locals.tf
  infra/resources/prod/_modules/web_apps/variables.tf
  infra/resources/prod/westeurope/web_apps.tf
  package.json
  yarn.lock
Labels: infra
