Repository pagopa/io-fims, pull requests merged in 2025-09, with the labels that each got.

#112 [IOCOM-2423] Change op app redis
  infra/bootstrapper/prod/.terraform.lock.hcl
  infra/bootstrapper/prod/tfmodules.lock.json
  infra/resources/_modules/web_apps_itn/op_app.tf
  infra/resources/_modules/web_apps_itn/variables.tf
  infra/resources/prod/README.md
  infra/resources/prod/web_apps.tf
Labels: infra

#113 [IOCOM-2428] Change apps and funcions keyvault
  infra/resources/_modules/key_vaults_itn/outputs.tf
  infra/resources/prod/web_apps.tf
Labels: infra

#122 Bump tf modules version
  infra/resources/_modules/resource_group/main.tf
  infra/resources/_modules/storage_itn/audit.tf
  infra/resources/_modules/storage_itn/fims.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#114 Migrate Audits storage account to ITN
  apps/op-func/local.settings.json.example
  apps/op-func/package.json
  apps/op-func/src/adapters/config.ts
  apps/op-func/src/adapters/env.ts
  apps/op-func/src/func.ts
  apps/op-func/src/infra/storage/audit-event.ts
  apps/op-func/src/infra/storage/config.ts
  infra/resources/_modules/web_apps_itn/op_func.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/web_apps.tf
  package.json
  yarn.lock
Labels: infra, openid-provider

#130 Add health check on storage blobs in op-func
  apps/op-func/src/func.ts
  packages/io-fims-common/package.json
  packages/io-fims-common/src/adapters/storage-blob/health.ts
  yarn.lock
Labels: openid-provider

#138 Update assert for op-func's error check on upload
  apps/op-func/src/infra/storage/audit-event.ts
Labels: openid-provider

#140 Add permissions to op-func on ITN storage
  infra/resources/_modules/web_apps_itn/op_func.tf
Labels: infra

#141 Remove migration toolkit and audit fallback
  apps/op-func/local.settings.json.example
  apps/op-func/package.json
  apps/op-func/src/adapters/config.ts
  apps/op-func/src/adapters/env.ts
  apps/op-func/src/func.ts
  apps/op-func/src/infra/storage/audit-event.ts
  apps/op-func/src/infra/storage/config.ts
  infra/resources/_modules/web_apps_itn/data.tf
  infra/resources/_modules/web_apps_itn/op_func.tf
  infra/resources/_modules/web_apps_itn/variables.tf
  infra/resources/prod/web_apps.tf
  package.json
  yarn.lock
Labels: infra, openid-provider
